/* Global styling */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  background-color: #F4F1DE;
  font-family: 'Poppins', sans-serif;
  color: #3C3744;
}

h1,
h2 {
  font-family: 'Fraunces', serif;
}

/* Content styling */

header,
main {
  max-width: 1520px;
  padding: 0 40px;
}

header {
  margin-bottom: 40px;
  width: 100%;
}

header h1 {
  font-size: 48px;
  text-align: center;
}

.info {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.desc {
  flex: 16 1 350px;
  padding: 0 16px;
  border: 1px solid #EDB862;
  border-radius: 5px;
}

.stats {
  flex: 1 1 350px;
  padding: 0 16px 16px;
  border: 1px solid #EDB862;
  border-radius: 5px;
}

code {
  background-color: rgba(0,0,0,.15);
  padding: 1px;
}

main {
  flex: 1 0 auto;
}

#books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 16px;
  margin-bottom: 40px;
}

.sep {
  border-bottom: solid 1px rgba(0,0,0,.15);
  margin: 16px 0;
}

.bold {
  font-weight: 600;
}

/* Card styling */
.card {
  padding: 16px 16px 6px;
  min-height: 160px;
  width: 348px;
  border-radius: 5px;
  background-color: #F2CC8F;
  box-shadow: inset rgba(0,0,0,.15) 0 0 0 1px;
}

.card h2 {
  font-family: 'Fraunces', serif;
  font-size: 22px;
  margin: 0 0 5px;
}

.card p {
  margin: 0 0 10px;
}

.card .author {
  font-style: italic;
}

.card .details {
  font-size: 14px;
}

.card .in-progress {
  color: #D56062;
  font-weight: 600;
}

.card .done {
  color: #519E8A;
  font-weight: 600;
}

.card .change-status {
  margin-left: 6px;
  cursor: pointer;
  transition: all .3s;
}

.card .change-status:hover {
  transition: all .3s;
  color: #1E1B22;
}

.delete {
  float: right;
  font-weight: bold;
  font-size: 18px;
  line-height: 0;
  color: #D56062;
  cursor: pointer;
  transition: all .3s;
}

.delete:hover {
  color: #CD4345;
  transition: all .3s;
}

.add-new {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-new:hover .add-book-modal {
  color: #EDB862;
  transition: all .3s;
}

.add-book-modal {
  font-size: 100px;
  color: rgba(0,0,0,.15);
  transition: all .3s;
}

/* Footer styling */
footer {
  background-color: #F2CC8F;
  padding: 16px 40px;
  text-align: center;
  width: 100%;
}

footer a {
  color: #3C3744;
  transition: all .3s;
}

footer a:hover {
  color: #1E1B22;
  transition: all .3s;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #F2CC8F;
  margin: 15% auto;
  padding: 16px;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 5px;
  max-width: 540px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: fadeIn;
  animation-duration: .3s
}
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.modal h2 {
  margin: 0;
}

.close-x {
  float: right;
  line-height: 0;
  color: rgba(0,0,0,.15);
  transition: all .3s;
  font-size: 24px;
}

.close-x:hover,
.close-x:focus {
  color: #EDB862;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
}

/* Form styling */

#add-book-form div {
  margin: 20px 0 0;
}

#form-book-title,
#form-book-author,
#form-book-pages {
  width: 100%;
  height: 40px;
  padding: 0 6px;
  margin-top: 6px;
  border: solid 1px rgba(0,0,0,.15);
  border-radius: 3px;
  background-color: #F2CC8F;
  color: #3C3744;
}

#form-book-title:focus,
#form-book-author:focus,
#form-book-pages:focus {
  border-color: #3C3744;
  outline: none;
}

/* Remove arrows from number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.required {
  color: #D56062;
}

.modal .button-right {
  text-align: right;
}

/* Buttons styling */
#form-add-book,
.clear-button,
.cancel,
.demo-button {
  border: solid 1px rgba(0,0,0,.15);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  color: #F4F1DE;
  transition: all .3s;
}

#form-add-book:hover,
.clear-button:hover,
.cancel:hover,
.demo-button:hover {
  transition: all .3s;
}

#form-add-book {
  background-color: #519E8A;
  margin-left: 16px;
}

#form-add-book:hover {
  background-color: #478A79;
}

.clear-button {
  background-color: #D56062;
  margin-left: 16px;
}

.clear-button:hover {
  background-color: #CD4345;
}

.cancel,
.demo-button {
  background-color: #F2CC8F;
  color: #3C3744;
}

.cancel:hover,
.demo-button:hover {
  background-color: #EDB862;
}

/* Form errors */
.title-error,
.author-error,
.pages-error {
  display: none;
  margin: 6px 0 0;
  font-size: 14px;
  color: #D56062;
}

/* Checkbox styling */
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 6px;
}

.checkbox-input input {
  opacity: 0;
  width: 1em;
  height: 1em;
}

.checkbox-control {
  display: inline-grid;
  align-self: center;
  width: 1em;
  height: 1em;
  border-radius: 2px;
  border: solid 2px rgba(0,0,0,.15);
}

.checkbox-input {
  display: grid;
  grid-template-areas: "checkbox";
}

.checkbox-input > * {
  grid-area: checkbox;
}

.checkbox-control svg {
  opacity: 0;
}

.checkbox-input input:checked + .checkbox-control svg {
  opacity: 1;
}

.checkbox-input input:focus + .checkbox-control {
  border-color: #3C3744;
}
